<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Who We Are</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    
    <div class="container">
        <!-- First Row (3 Members) -->
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Paisley Lin</h3>
                    <p class="text-muted">CEO</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Gustav Nyman</h3>
                    <p class="text-muted">Founder & Advisor</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Sharon Niu</h3>
                    <p class="text-muted">Business Assistant</p>
                </div>
            </div>
        </div>

        <!-- Extra Row (Separator or Message) -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="section-heading"></h3>
                <hr class="primary">
            </div>
        </div>



        <!-- Second Row (3 Members) -->
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Rick Chen</h3>
                    <p class="text-muted">Mechanical Engineer</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cogs wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3>Neo Fang</h3>
                    <p class="text-muted">IoT Expert</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lightbulb-o wow bounceIn text-primary" data-wow-delay=".5s"></i>
                    <h3>Flora Chen</h3>
                    <p class="text-muted">Project Manager</p>
                </div>
            </div>
        </div>
    </div>
</section>
